<div class="show-create">
 
  <form (ngSubmit)="createShow()">
    <table>
      <tr>
        <td><label for="title">Title</label></td>
        <td><input type="text" id="title" [(ngModel)]="show.title" name="title" required /></td>
      </tr>
      <tr>
        <td><label for="description">Description</label></td>
        <td><input type="text" id="description" [(ngModel)]="show.description" name="description" required /></td>
      </tr>
      <tr>
        <td><label for="episodes">Episodes</label></td>
        <td><input type="number" id="episodes" [(ngModel)]="show.episodes" name="episodes" required /></td>
      </tr>
      <tr><td></td></tr>
      <tr>
        <td colspan="2"><button type="submit" class="a">Create Show</button></td>
        
      </tr>
    </table>
  </form>
</div>
